*,
*::before,
*::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Tags
/* 2. Body
/* 3. Game
/*   3.1 Pads
/*   3.2 Center
/*      3.2.1 GUI
/* 4. Footer
/**********************************/

/**********************************/
/* Color Guide:
/* 
/* #00A74A : normal-green
/* #9F0F17 : normal-red
/* #CCA707 : normal-yellow
/* #094A8F : normal-blue
/* #13ff7c : light-green
/* #ff4c4c : light-red
/* #fed93f : light-yellow
/* #1c8cff : light-blue
/* #333333 : gray
/* #ECE7EE : center
/* #32050C : counter-color
/*
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
	--clr-normal-green:   #00A74A;
	--clr-normal-red:     #9F0F17;
	--clr-normal-yellow:  #CCA707;
	--clr-normal-blue:    #094A8F;
	
	--clr-light-green:    #13ff7c;
	--clr-light-red:      #ff4c4c;
	--clr-light-yellow:   #fed93f;
	--clr-light-blue:     #1c8cff;
	
	--clr-border:		  #333333;
	--clr-center:  		  #ECE7EE;

	--clr-counter-bg:	  #32050C;
	--clr-counter-off:	  #430710;
	--clr-counter-on:	  #DC0D29;
	
	--clr-switch: 	      #3193DE;

	--game-size: 48rem;
	--game-border: 1.5rem solid var(--clr-border);
}

/**********************************/
/* 1. Tags
/**********************************/

html{
	font-size: 62.5%;
}

body {
	background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/retina_wood.png');
	font-family: "Bungee", Verdana, sans-serif;
}

/**********************************/
/* 2. Body
/**********************************/

.container{
	width: var(--game-size);
	margin-left: auto;
	margin-right: auto;
}

/**********************************/
/* 3. Game
/**********************************/

.game{
	width: var(--game-size);
	height: var(--game-size);
	display: flex;
	flex-wrap: wrap;
	margin-top: 5rem;
	position: relative;
}

.game__title{
	font-size: 4rem;
	text-transform: uppercase;
	margin: 0;
	padding-left: 1.2rem;
	padding-top: 4.7rem;
}

.reg {
	font-family: verdana, sans-serif;
	font-size: 1.8rem;
	margin-left: -1rem;
	vertical-align: top;
}
/**********************************/
/* 3.1 Pads
/**********************************/

.game__pad{
	width: calc(var(--game-size) / 2);
	height: calc(var(--game-size) / 2);
	border: var(--game-border);
}

.game__pad--tl{
	background-color: var(--clr-normal-green);
	border-top-left-radius: 100%;
}

.game__pad--tr{
	background-color: var(--clr-normal-red);
	border-top-right-radius: 100%;
}

.game__pad--bl{
	background-color: var(--clr-normal-yellow);
	border-bottom-left-radius: 100%;
}

.game__pad--br{
	background-color: var(--clr-normal-blue);
	border-bottom-right-radius: 100%;
}

.game__pad--tl.game__pad--active{
	background-color: var(--clr-light-green);
}

.game__pad--tr.game__pad--active{
	background-color: var(--clr-light-red);

}

.game__pad--bl.game__pad--active{
	background-color: var(--clr-light-yellow);
}

.game__pad--br.game__pad--active{
	background-color: var(--clr-light-blue);
}

.game__pad--btn{
	cursor:pointer;
}
/**********************************/
/* 3.2 Center
/**********************************/

.game__options{

	/*Defininfo as posições e cores do controle central*/
	position: absolute;
	background-color: var(--clr-center);

	/*Definindo que o círculo central irá ficar com metade 
	do tamanho do círculo principal*/
	width: calc(var(--game-size) / 2);
	height: calc(var(--game-size) / 2);

	/*Aqui  eu defini que o cículo central seja dividido
	por 4 do tamanho do círculo principal */
	top: calc(var(--game-size) / 4);
	left: calc(var(--game-size) / 4);

	border: var(--game-border);
	border-radius: 25rem;



}

/**********************************/
/* 3.2.1 GUI
/**********************************/

.gui{
	padding-left: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.group{
	/* Pra separar os elementos que antes disso estavam
	com as palavras coladas umas nas outras*/
	margin-right: 2.2rem;
}

.group-Large{
	display: flex;
	width: 10rem;
	margin-left: 4.5rem;
}

.gui__label{

	font-family: "Arima Madurai", cursive;
	font-weight: bold;
	font-size: 0.75rem;
	text-align: center;
	text-transform: uppercase;
}

.gui__label--switch{
	margin:0;
	padding-top: 0.75rem;
}

.gui__btn{
	width: 2.5rem;
	height: 2.5rem;
	margin-left: .2rem;
	border-radius: 5rem;
	box-shadow: 0 .2rem .3rem #222;
	border: .4rem solid #444;
	cursor:pointer;
}

/*Com a regra active e transforma eu dou a impressão
de clique no botão do jogo*/
.gui__btn:active{
	transform: translate(0, .3rem);
	/*Quando defino que a sombra é none ao clique
	ele retira ela dando a impressão de clique
	no botão ao precionar*/
	box-shadow: none;
}

.gui__btn--start{
	background-color: red;
}

.gui__btn--strict{
	background-color: yellow;
}

.gui__btn-switch{
	background-color: #222;
	margin-left: .5rem;
	margin-right: .5rem;
	width: 5rem;
	height: 2.3rem;
	border-radius: .3rem;
	cursor: pointer;
}

/*Criando um botão interno dentro do switch
foi criando o pseudo elemento na classe chamado
::before*/

.gui__btn-switch::before{
	content: "";
	background-color: var(--clr-switch);
	display: block;
	position: relative;
	/*Se for inserido o valor 0 no left, a posição do
	elemento vai para o lado do ON, como foi inserido
	o valor 2.5rem ele fica do lado do OFF que será
	o status principal do jogo antes do início*/
	left: 2.5rem;
	width: 2.2rem;
	height: 1.9rem;
	border-radius: .3rem;
	border: .2rem solid #3333;
}

/*Regra criada como modificador pro switch
quando o usuário clicar será adicionado no JS a mudança
de posição do botão*/
.gui__btn-switch--on::before{
	left: 0;
}

.gui__counter{
	background-color: var(--clr-counter-off);
	font-family: "Iceland", cursive;
	font-weight: bold;
	font-size: 3rem;
	text-align: right;
	width: 5.5rem;
	border: .3rem solid #000;
	border-radius: 1rem;
	padding-right: .2rem;
	padding-left: .3rem;

}

/*Regra criada apenas para mudar a cor do painel
quando estier em ON*/
.gui__counter--on{
	color: var(--clr-counter-on);
}

.gui__led{
	background-color: #32050C;
	margin-left: 1rem;
	margin-bottom: .5rem;
	width: .8rem;
	height: .8rem;
	border: .2rem solid #222;
	border-radius: 2rem;
}

/*Criado modificador para dar a aparência de ligado
quando o ON estiver ativo*/
.gui__led--active{
	background-color: red;
}




/**********************************/
/* 4. Footer
/**********************************/

footer{
	text-align: center;
	margin-top: 5rem;
	font-size: 1rem;
}
